# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Linter output
lint_output.txt
test_output.txt

# Project specific binaries
pay-core-server
pay-gateway-server

# IDEs
.idea/
.vscode/
*.iml
